:root {
    --background-color: #f8fafc;
    --text-color: #1e293b;
    --primary-blue: #2563EB;
    --primary-green: #10b981;
    --primary-red: #ef4444;
    --form-background: #D9D9D9;
    --transaction-border: #E2E8F0;
}
